@charset "UTF-8";
/***** Misc *****/
/****** Fonts ******/
/****** Font Sizes ******/
/****** Queries ******/
/****** Colors ******/
@font-face {
  font-family: "GoldenWings";
  src: url("../fonts/GoldenWings.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Tommy_Bold";
  src: url("../fonts/Tommy_Bold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/* Define flexbox config */
/* ===== Usage ===== */
/*
@include flex-config($align-items: center, $flex-direction: row, $flex-wrap: wrap, $justify-content: space-between);
*/
/* Define element background */
/* ===== Usage ===== */
/*
@include background($position: center ,$repeat: no-repeat, $size: contain);
*/
/* Define width and height */
/* ===== Usage ===== */
/*div {
  // You can pass width && height
  @include box(200px, 300px);
   or just pass width and the height
     will default to the width value 
  @include box(200px);
}*/
/* Define font size, line-height and letter-spacing */
/* ===== Usage ===== */
/*p {
  @include font-size(12, 18, 1.2);
  // returns
  font-size: 12px;
  line-height: 1.5; // 18 / 12
  letter-spacing: 0.1em;
}*/
/* Define pseudo element */
/* Define breakpoints */
/* ===== Usage ===== */
/*
@include breakpoint(desktop) {
    Code here...
}
*/
/* Define placeholder styles */
/* ===== Usage ===== */
/*input,  
textarea {  
    @include input-placeholder {
        color: $grey;
    }
}
*/
/* Define element positioning */
/* ===== Usage ===== */
/*
.element-absolute {
  @include position(absolute, 60px, 0, 0, 0, z('modal'));
}
*/
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
/***** General *****/
/****** General ******/
* {
  box-sizing: border-box;
}

html {
  margin: 0;
}

body {
  font-family: "", Arial, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

p {
  line-height: 24px;
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}
ul li {
  list-style: none;
}

figure {
  margin: 0;
}

div {
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

.content-wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 0.9375rem;
  width: 100%;
}

/****** Headings ******/
.heading {
  margin: 0;
}
/* ===== Responsive ===== */
/***** Components *****/
.btn.btn-mobile-menu {
  background-image: url(../img/menú.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
  height: 32px;
  width: 32px;
  position: relative;
}
.btn.btn-mobile-menu.close {
  background-image: url(../img/cerrar.png);
}
@media (max-width: 61.9375rem) {
  .btn.btn-mobile-menu {
    display: block;
  }
}

.top-banner {
  background-color: #141e36;
  max-width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.top-banner p {
  font-family: "Poppins-Regular", sans-serif;
  color: #ffffff;
  margin: 0;
  text-align: center;
}
.top-banner .phone-numbers {
  display: flex;
  gap: 15px;
  align-items: left;
}
.top-banner .phone-numbers a {
  font-family: "Poppins-Regular", sans-serif;
  text-decoration: none;
  color: #ffffff;
}
.top-banner .phone-numbers a img {
  margin-right: 5px;
}

@media (max-width: 61.9375rem) {
  .top-banner {
    flex-direction: column;
    text-align: center;
  }
  .top-banner .phone-numbers {
    justify-content: center;
    flex-direction: column;
  }
}
.header {
  font-family: "GoldenWings", Sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #ffffff;
  box-shadow: 0px 15px 20px 0px #aaa;
}
.header .logo {
  display: flex;
  align-items: auto;
  margin-right: auto;
}
.header .logo img {
  padding-left: 20px;
  max-height: 60px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: row;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
  }
  .header .logo {
    margin-bottom: 15px;
    margin-right: 0;
  }
  .header .logo img {
    max-height: 40px;
    padding-left: 0;
  }
}
.footer {
  background-color: #141E36;
  color: #fff;
  padding: 40px 20px;
}
.footer .footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}
.footer .footer-container .footer-column {
  flex: 1;
  padding: 0 20px;
}
.footer .footer-container .footer-column h3 {
  font-family: "GoldenWings", Sans-serif;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #5C8980;
}
.footer .footer-container .footer-column ul {
  list-style-type: none;
  padding: 0;
}
.footer .footer-container .footer-column ul li {
  font-family: "Poppins-Regular", sans-serif;
  margin-bottom: 0.5rem;
}
.footer .footer-container .footer-column ul li a {
  color: #aaa;
  text-decoration: none;
  transition: color 0.3s ease;
}
.footer .footer-container .footer-column ul li a:hover {
  color: #5C8980;
}
.footer .footer-container .footer-column p {
  margin-bottom: 1rem;
  color: #ccc;
}
.footer .footer-container .footer-column .footer-contacts {
  list-style-type: none;
  padding: 0;
  margin-bottom: 1.5rem;
}
.footer .footer-container .footer-column .footer-contacts li {
  margin-bottom: 0.5rem;
}
.footer .footer-container .footer-column .footer-contacts img {
  margin-right: 5px;
}
.footer .footer-container .social-column {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer-container .footer-social {
  display: flex;
  gap: 10px;
}
.footer .footer-container .footer-social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
.footer .footer-container .footer-social a img {
  width: 24px;
  height: 24px;
}
@media (max-width: 768px) {
  .footer .footer-container {
    flex-direction: column;
    align-items: center;
  }
  .footer .footer-column {
    padding: 20px 0;
    text-align: center;
  }
  .footer .social-column {
    margin-top: 20px;
  }
}

.white-section {
  display: flex;
  background-color: #fff;
  padding: 40px 20px;
  text-align: center;
}
.white-section .white-section-content {
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}
.white-section .white-section-content .privacidad {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.white-section .white-section-content a {
  color: #aaa;
}
.white-section .white-section-content a .image-row {
  display: flex;
  justify-content: space-around; /* Adjust to center and space out the images */
  align-items: center;
  gap: 20px;
}
.white-section .white-section-content a .image-row img {
  max-width: 18%;
  height: auto;
}

.menu.main-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  margin-left: auto;
  margin-right: 40px;
  width: 100%;
  max-width: 1200px; /* Limita el ancho máximo del menú */
  box-sizing: border-box;
}
.menu.main-menu .menu-wrapper {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap; /* Permite que los elementos del menú se ajusten en pantallas más pequeñas */
}
.menu.main-menu .menu-wrapper .menu-item {
  position: relative;
  margin-left: 20px;
}
.menu.main-menu .menu-wrapper .menu-item:first-child {
  margin-left: 0;
}
.menu.main-menu .menu-wrapper .menu-item a {
  text-decoration: none;
  color: #000000;
  padding: 10px 15px;
  transition: color 0.3s ease, background-color 0.3s ease;
  /*   &:hover {
      color: #3d3c3c;
      border-radius: 4px;
    } */
}
.menu.main-menu .menu-wrapper .menu-item.current-menu-item a {
  color: #000000;
  border-bottom: 2px solid #141e36;
}
.menu.main-menu .menu-wrapper .menu-item .sub-menu {
  display: none;
  position: absolute;
  top: 110%;
  left: 0;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 10px 0;
  margin: 0;
  z-index: 999;
  min-width: 220px;
}
.menu.main-menu .menu-wrapper .menu-item .sub-menu .menu-item {
  margin: 0;
  /* S */
}
.menu.main-menu .menu-wrapper .menu-item .sub-menu .menu-item a {
  padding: 12px 20px;
  color: #333333;
  white-space: nowrap;
  display: block;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.menu.main-menu .menu-wrapper .menu-item .sub-menu .menu-item a:hover {
  background-color: #f0f0f0;
  color: #000000;
}
.menu.main-menu .menu-wrapper .menu-item:hover .sub-menu {
  display: block;
}
@media (max-width: 1200px) {
  .menu.main-menu {
    margin-right: 20px; /* Ajusta el margen derecho en pantallas más pequeñas */
    padding-right: 10px;
  }
  .menu.main-menu .menu-wrapper {
    justify-content: flex-end; /* Mantiene los elementos alineados a la derecha */
  }
}
@media (max-width: 992px) {
  .menu.main-menu {
    margin-right: 10px;
    padding-right: 5px;
  }
  .menu.main-menu .menu-wrapper {
    justify-content: flex-end;
  }
}
@media (max-width: 61.9375rem) {
  .menu.main-menu {
    display: none;
    position: absolute;
    width: 100%;
    top: 310px;
    left: 0;
    background-color: white;
    z-index: 1000;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .menu.main-menu.open {
    display: flex;
    opacity: 1;
    height: auto;
    transition: all 0.4s ease-in-out;
  }
  .menu.main-menu .menu-wrapper {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .menu.main-menu .menu-wrapper .menu-item {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    /* Elimina el hover y muestra siempre el submenú */
  }
  .menu.main-menu .menu-wrapper .menu-item.menu-item-has-children .sub-menu {
    display: block;
    position: static;
    box-shadow: none;
    background-color: transparent;
    padding: 0;
    min-width: 100%;
  }
  .menu.main-menu .menu-wrapper .menu-item.menu-item-has-children .sub-menu .menu-item a {
    padding: 10px 15px;
  }
  .menu.main-menu .menu-wrapper .menu-item.menu-item-has-children .sub-menu .menu-item:not(:last-child) {
    border-bottom: 1px solid #e0e0e0;
  }
  .menu.main-menu .menu-wrapper .menu-item.menu-item-has-children:hover .sub-menu {
    display: block;
  }
}
@media (max-width: 47.9375rem) {
  .menu.main-menu {
    top: 333px;
  }
  .menu.main-menu.main-menu {
    margin-right: 10px;
    padding-right: 5px;
  }
  .menu.main-menu.main-menu .menu-wrapper {
    justify-content: flex-end;
  }
}
@media (max-width: 36.25rem) {
  .menu.main-menu.main-menu {
    margin-right: 5px;
    padding-right: 0;
  }
  .menu.main-menu.main-menu .menu-wrapper {
    justify-content: flex-end;
  }
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}
.banner img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: 20px;
}

.credinomina-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 120px;
}
.credinomina-content .credinomina-title {
  font-family: "GoldenWings", sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #5c8980;
}
.credinomina-content .credinomina-subtitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #000;
  font-family: "Poppins-Regular", sans-serif;
}
.credinomina-content .credinomina-description {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: #555;
  max-width: 80%;
}
.credinomina-content .credinomina-list {
  margin-bottom: 2rem;
  max-width: 100%;
  padding-left: 20px;
}
.credinomina-content .credinomina-list li {
  font-family: "Poppins-Regular", sans-serif;
  list-style-type: disc;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #444;
}
.credinomina-content .credinomina-list.credinomina-list-2 {
  display: flex;
  flex-direction: column;
}
.credinomina-content .terminos {
  font-size: 0.8rem;
  color: #6e6e6e;
  max-width: 100%;
}

@media (max-width: 768px) {
  .credinomina-content {
    padding: 10px;
    align-items: flex-start;
  }
  .credinomina-content .credinomina-title {
    font-size: 1.8rem;
  }
  .credinomina-content .credinomina-subtitle {
    font-size: 1.2rem;
  }
  .credinomina-content .credinomina-description {
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
  }
  .credinomina-content .credinomina-list {
    padding-left: 15px;
  }
  .credinomina-content .credinomina-list li {
    font-size: 0.9rem;
  }
  .credinomina-content .terminos {
    font-size: 0.7rem;
  }
}
.crediexpress-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 120px;
}
.crediexpress-content .crediexpress-title {
  font-family: "GoldenWings", sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #5c8980;
}
.crediexpress-content .crediexpress-subtitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #000;
  font-family: "Poppins-Regular", sans-serif;
}
.crediexpress-content .crediexpress-description {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: #555;
  max-width: 80%;
}
.crediexpress-content .crediexpress-list {
  margin-bottom: 2rem;
  max-width: 100%;
  padding-left: 20px;
}
.crediexpress-content .crediexpress-list li {
  font-family: "Poppins-Regular", sans-serif;
  list-style-type: disc;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #444;
}
.crediexpress-content .crediexpress-list.crediexpress-list-2 {
  display: flex;
  flex-direction: column;
}
.crediexpress-content .terminos {
  font-size: 0.8rem;
  color: #6e6e6e;
  max-width: 100%;
}

@media (max-width: 768px) {
  .crediexpress-content {
    padding: 10px;
    align-items: flex-start;
  }
  .crediexpress-content .crediexpress-title {
    font-size: 1.8rem;
  }
  .crediexpress-content .crediexpress-subtitle {
    font-size: 1.2rem;
  }
  .crediexpress-content .crediexpress-description {
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
  }
  .crediexpress-content .crediexpress-list {
    padding-left: 15px;
  }
  .crediexpress-content .crediexpress-list li {
    font-size: 0.9rem;
  }
  .crediexpress-content .terminos {
    font-size: 0.7rem;
  }
}
.page-contacto .contacto-grid-container {
  font-family: "Poppins-Regular", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  background-color: #141e36;
  gap: 20px;
  border-bottom: 5px solid grey;
  margin-top: 10px;
}
.page-contacto .contacto-grid-container.bg-img {
  background-image: url("../img/figure-bg-contact.svg");
  background-size: cover;
  background-position: center;
}
.page-contacto .contacto-grid-container .contacto-heading-main,
.page-contacto .contacto-grid-container .contacto-heading-sub {
  width: 100%;
  margin: 0 0 20px;
  text-align: center;
  color: #fff;
}
.page-contacto .contacto-grid-container .contacto-grid-item {
  flex: 1 1 calc(33.33% - 20px);
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .page-contacto .contacto-grid-container .contacto-grid-item {
    flex: 1 1 calc(100% - 20px);
    margin-bottom: 20px;
  }
}

.beneficios-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.beneficios-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
  padding: 20px;
}
.beneficios-section.beneficios-first-section {
  border-top: 3px solid #5c8980;
  border-bottom: 3px solid #5c8980;
  padding: 10px 10px;
}
.beneficios-section.beneficios-second-section .beneficios-text h2 {
  color: rgb(0, 0, 0);
}
.beneficios-section .beneficios-image {
  order: 1; /* Asegura que la imagen esté a la derecha */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px; /* Reduce la separación con el texto */
}
.beneficios-section .beneficios-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  padding-right: 30px;
}
.beneficios-section .beneficios-text {
  order: 2; /* Asegura que el texto esté a la izquierda */
  flex: 1; /* Ajusta flexibilidad para reducir separación */
  padding: 20px;
  text-align: justify; /* Justifica el texto */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.beneficios-section .beneficios-text h2 {
  font-size: 1.8rem;
  color: #5c8980;
  margin-bottom: 20px;
  text-align: start; /* Alinea el título a la izquierda */
  font-family: "Tommy_Bold", sans-serif;
}
.beneficios-section .beneficios-text p {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.6;
  font-family: "Poppins-Regular", sans-serif;
}

@media (max-width: 768px) {
  .beneficios-section {
    flex-direction: column;
    text-align: center;
  }
  .beneficios-section .beneficios-image {
    order: 1;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .beneficios-section .beneficios-image img {
    padding-right: 0;
  }
  .beneficios-section .beneficios-text {
    order: 2;
    padding: 10px;
    text-align: center;
  }
  .beneficios-section .beneficios-text h2 {
    font-size: 1.6rem;
    text-align: center;
  }
  .beneficios-section .beneficios-text p {
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  .beneficios-section {
    padding: 10px;
  }
  .beneficios-section .beneficios-text h2 {
    font-size: 1.4rem;
  }
  .beneficios-section .beneficios-text p {
    font-size: 0.9rem;
  }
  .beneficios-section .beneficios-image img {
    width: 100%;
  }
}
.container .section.exclusivo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.container .section.exclusivo .line-container {
  display: flex;
  align-items: center;
  width: 83%;
  justify-content: space-between;
  margin-bottom: 10px;
}
.container .section.exclusivo .line-container .line {
  flex: 1;
  height: 4px;
  background-color: #5c8980;
}
.container .section.exclusivo .line-container .inicio-titulo {
  padding: 0 15px;
  text-align: center;
  font-size: 1.5rem;
}
.container .section.exclusivo .container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.container .section.exclusivo .container-img .inicio-img img {
  width: auto;
  height: auto;
  max-width: 100%;
  margin-bottom: 20px;
}
.container .section.exclusivo .line-bottom {
  width: 83%;
  height: 4px;
  background-color: #5c8980;
  margin-top: 20px;
}
.container .section.inicio-content {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  margin-left: 110px;
}
.container .section.inicio-content .content-container {
  text-align: left;
}
.container .section.inicio-content .inicio-heading {
  font-family: "Tommy_Bold", sans-serif;
  font-size: 40px;
  margin-bottom: 10px;
  color: #5c8980;
}
.container .section.inicio-content .inicio-subtitle {
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 30px;
}
.container .section.inicio-content .inicio-description {
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}
.container .section.inicio-imagenes {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 0;
}
.container .section.inicio-imagenes .image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30%;
  text-align: center;
}
.container .section.inicio-imagenes .image-container img {
  padding: 15px;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.container .section.inicio-imagenes .image-container .inicio-text {
  font-size: 25px;
  font-weight: 800;
  font-family: "Tommy_Bold", sans-serif;
  color: #141e36;
  margin-bottom: 15px;
}
.container .inicio-info-section {
  padding: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #141e36;
}
.container .inicio-info-section .inicio-section-title {
  font-family: "Tommy_Bold", sans-serif;
  font-size: 21px;
  font-weight: 800;
  text-align: left;
  font-size: 2rem;
  margin-bottom: 10px;
  color: #fff;
}
.container .inicio-info-section .inicio-line-titulo {
  width: 30%;
  height: 2px;
  background-color: #5c8980;
  margin-bottom: 30px;
}
.container .inicio-info-section .inicio-content-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 100%;
  max-width: 1200px;
}
.container .inicio-info-section .inicio-content-container .inicio-column {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 70%;
}
.container .inicio-info-section .inicio-content-container .inicio-column img {
  max-width: 150px;
  height: auto;
  margin-right: 20px;
  margin-top: 20px;
  position: absolute;
}
.container .inicio-info-section .inicio-content-container .inicio-column .text-container {
  display: grid;
  flex-direction: column;
  align-items: center;
}
.container .inicio-info-section .inicio-content-container .inicio-column .text-container .inicio-subtitle {
  font-family: "Tommy_Bold", sans-serif;
  font-size: 21px;
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #fff;
  padding-left: 50px;
}
.container .inicio-info-section .inicio-content-container .inicio-column .text-container .inicio-description {
  font-family: "Poppins-Regular", sans-serif;
  font-size: 1rem;
  margin-bottom: 20px;
  color: #fff;
}
.container .inicio-info-section .inicio-content-container .inicio-column .text-container .inicio-more-info {
  font-size: 1rem;
  color: #5c8980;
  cursor: pointer;
  margin-bottom: 10px;
}
.container .inicio-info-section .inicio-content-container .inicio-column .text-container .inicio-line-boton {
  width: 30%;
  height: 2px;
  background-color: #5c8980;
  margin-top: 10px;
}
.container .section.beneficios {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.container .section.beneficios .inicio-beneficios-line-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}
.container .section.beneficios .inicio-beneficios-line-container .inicio-beneficios-line {
  flex: 1;
  height: 4px;
  background-color: #5c8980;
}
.container .section.beneficios .inicio-beneficios-line-container .inicio-beneficios-titulo {
  padding: 0 15px;
  text-align: center;
  font-size: 1.5rem;
}
.container .section.beneficios .inicio-beneficios-img {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}
.container .section.beneficios .inicio-beneficios-img .beneficios-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.container .section.beneficios .inicio-beneficios-img .beneficios-img img {
  width: auto;
  height: auto;
  max-width: 150px;
  margin-bottom: 10px;
}
.container .section.beneficios .inicio-beneficios-img .beneficios-img .inicio-beneficios-text {
  max-width: 240px;
  word-wrap: break-word;
  white-space: normal;
  font-size: 1rem;
  margin-top: 10px;
  font-family: "Tommy_Bold", sans-serif;
  font-size: 21px;
  font-weight: 800;
  color: #141e36;
}
.container .section.beneficios .line-bottom-beneficios {
  width: 100%;
  height: 4px;
  background-color: #5c8980;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .container .section.inicio-content {
    flex-direction: column;
    margin-left: 0;
    text-align: center;
  }
  .container .section.inicio-content .content-container {
    text-align: center;
  }
  .container .section.inicio-content .inicio-heading {
    font-size: 32px;
  }
  .container .section.inicio-content .inicio-subtitle,
  .container .section.inicio-content .inicio-description {
    font-size: 18px;
  }
  .container .container-img {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .container .container-img .inicio-img {
    width: calc(50% - 10px);
    max-width: none;
  }
  .container .container-img .inicio-img:nth-child(odd):last-child {
    width: 100%;
  }
  .container .section.inicio-imagenes {
    flex-direction: column;
    align-items: center;
  }
  .container .section.inicio-imagenes .image-container {
    max-width: 100%;
  }
  .container .inicio-content-container {
    flex-direction: column;
    gap: 30px;
  }
  .container .inicio-content-container .inicio-column {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .container .inicio-content-container .inicio-column img {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .container .inicio-content-container .inicio-column .text-container {
    align-items: center;
    text-align: start;
  }
  .container .inicio-beneficios-img {
    justify-content: space-around;
  }
  .container .inicio-beneficios-img .beneficios-img {
    width: calc(50% - 10px);
    max-width: none;
  }
  .container .inicio-beneficios-img .beneficios-img:nth-child(odd):last-child {
    width: 100%;
  }
}

/***** Pages *****/