.block-columns {
    h4 { margin: 0 0 1.875rem; }

    h3 { margin: 0; }

    .color-purple { color: $clr-purple; }

    .color-orange { color: $clr-orange; }
    
    .color-green { color: $clr-green; }

    .color-blue { color: $clr-blue; }

    .btn-block {
        border-radius: 22px;

        &.purple {
            background-image: linear-gradient(30deg, $clr-purple 50%, transparent 50%);
            background-color: $clr-gray-5;
            border: 1px solid $clr-purple;
            margin-right: 1rem;

            i { transform: rotate(-45deg); }

            &:hover { color: $clr-purple; }
        }

        &.black {
            background-image: -webkit-linear-gradient(30deg, $clr-gray-5 50%, transparent 50%);
            background-image: linear-gradient(30deg, $clr-gray-5 50%, transparent 50%);
            background-color: $clr-black;
            border: 1px solid $clr-black;
            color: $clr-black;

            &:hover { color: $clr-white; }
        }
    }

    &.text-column {
        @include flex-config($align-items: flex-start, $flex-direction: row, $justify-content: center);
        padding: 0 15px;
    
        .column {
            flex-direction: column;
            width: 100%;
            
            &.left { 
                max-width: 518px; 
                padding-top: 6rem;
            }
    
            &.right { 
                max-width: 50%; 
                padding: 8.75rem 0 6rem;
            }
        }
        
        h4 { margin: 0 0 1.875rem; }
        
        h3 { margin: 0; }
    
        h2 { margin: 0 0 2.5rem; }
    
        p { margin: 0; }
    }

    &.number-column {
        @include flex-config($align-items: flex-start, $flex-direction: column, $justify-content: center);
        margin-bottom: 1.875rem;
        padding: 6rem 0;

        .column {
            justify-content: space-between;
            width: 100%;

            &.column-1 {
                border-bottom: 1px solid $clr-gray-3;
                flex-direction: column;
                padding-bottom: 1.25rem;
            }

            &.column-2 { padding-top: 2rem; }
        }

        .subcolumn {  
            max-width: 190px;
            width: 100%;
        }

        h4,
        h3 { 
            display: block; 
            width: 100%;
        }

        h2 {
            color: $clr-purple;
            font-size: $font-72;
            margin: 0;
            text-transform: uppercase;
        }
        
        p { font-size: $font-22; }
    }

    &.horizontal {
        padding: 4rem 0;

        .row { 
            align-items: stretch;
            flex-direction: row; 
        }

        .column { 
            flex: 1;

            &.col-1 { 
                flex-direction: column; 
            }

            &.col-2 { 
                align-items: center;
                justify-content: flex-end;
            }
        }

        .title {
            font: {
                size: $font-50;
                weight: 500;
            }
            line-height: 60px;
            margin-bottom: 1.5rem;
        }

        &.simple {
            .column {
                &.col-2 { 
                    align-items: flex-end;
                    justify-content: flex-start; 
                }
            }

            .btn-block {
                &.purple { background-color: $clr-white; }
            }
        }
    }

    &.vertical {
        padding: 4rem 0;

        .row { align-items: center; }

        .column {
            align-items: center;

            &.col-1 { flex-direction: column; }
        }

        .title,
        .txt { text-align: center; }

        .txt { margin: 1.5rem 0 2.5rem; }
    }

    @media (max-width: $device-desktop) {
        &.number-column {
            .subcolumn { max-width: 150px; }

            h2 { font-size: $font-48; }
        }

        &.horizontal {
            padding: 2rem 0;

            .title {
                font-size: $font-36;
                line-height: 40px; 
            }
        }
    }

    @media (max-width: $device-tablet) {
        &.text-column {
            .column {
                flex-direction: column;
                width: 100%;
                
                &.left { 
                    padding-top: 1.875rem; 
                    max-width: 250px;
                }
        
                &.right { 
                    max-width: 80%; 
                    padding: 5rem 0 2.5rem;
                }
            }
        }

        &.number-column {
            padding: 1.875rem 0;

            .column {
                &.column-2 {
                    flex-wrap: wrap;
                }
            }

            .subcolumn { 
                margin-bottom: 1.875rem;
                max-width: unset; 
                text-align: center;
                width: 30%;
            }

            h2 { font-size: $font-28; }

            p {
                font-size: $font-14;
                line-height: 18px;
            }
        }

        &.horizontal {
            .column {
                &.col-2 { padding-left: 0.9375rem; }
            }
        }
    }

    @media (max-width: $device-sm) {
        flex-direction: row;
        flex-wrap: wrap;

        &.text-column {
            .column {            
                &.left,
                &.right { max-width: 100%; }
    
                &.left { padding-top: 1.875rem; }
        
                &.right { padding: 1.875rem 0 1.875rem; }
            }
        }

        &.number-column {
            .subcolumn { width: 50%; }
        }

        &.horizontal {
            .row { flex-direction: column; }

            .column {
                &.col-2 { 
                    justify-content: center;
                    margin-top: 1.875rem;    
                }
            }

            &.simple {
                .column {
                    &.col-2 { 
                        align-items: center;
                        justify-content: center; 
                        padding-left: 0;
                    }
                }
            }
        }

        &.vertical {
            .title {
                font-size: $font-28;
                line-height: 30px;
            }
        }
    }

    @media (max-width: $device-xs) {
        &.horizontal {
            .column {
                &.col-2 { flex-direction: column; }
            }

            .btn-block {
                &.purple { 
                    margin: {
                        bottom: 1.875rem;
                        right: 0;
                    } 
                }
            }
        }

        &.vertical {
            .column { 
                &.col-2 { flex-direction: column; }
            }

            .btn-block {
                &.purple {
                    margin: {
                        bottom: 1.875rem;
                        right: 0;
                    }
                }
            }
        }
    }
}