.footer {
    background-color: $clr-black;
    color: $clr-white;
    padding: 3.75rem 6rem;

    .footer-wrapper {
        border: {
            bottom: 1px solid $clr-gray;
            top: 1px solid $clr-gray;
        }
        margin: 0 auto;
        max-width: 1536px;
        padding: 2rem 0;
    }

    .column {
        width: 100%;

        &.top-left { flex-direction: column; }
        
        &.bottom-left { 
            flex-direction: column; 
            margin-top: 3.875rem;
        }
    }

    .btn-footer { margin: 3.875rem 0; }

    .drop-logo {
        @include background($position: center ,$repeat: no-repeat, $size: contain);
        background-image: url(../img/img-drop.png);
        height: 72px;
        width: 624px;
    }
  
    .subtitle {
        font-size: $font-18;
        margin-bottom: 1.25rem;
        text-transform: capitalize;
    }

    .list-wrapper {
        @include flex-config($align-items: flex-start, $flex-direction: row, $justify-content: space-between);
        max-width: 624px;
        width: 100%;
    }

    .list-bottom {
        @include flex-config($align-items: flex-start, $flex-direction: column, $justify-content: flex-start);
        margin-left: 1.25rem;
        max-width: 207px;
        width: 100%;

        &:first-child { margin-left: 0; }

        a { color: $clr-gray; }
    }

    .copy { margin-top: 1.25rem; }

    @media (max-width: $device-desktop) {
        .drop-logo {width: 504px; }
    }
  
    @media (max-width: $device-tablet) {
        padding: 1.875rem 0.9375rem;

        .btn-footer { margin: 1.875rem 0; }

        .drop-logo { width: 420px; }

        .list-wrapper { flex-direction: column; }

        .list-bottom { margin: 0 0 1.25rem; }
    }

    @media (max-width: $device-sm) {
        .drop-logo { width: 280px; }
    }

    @media (min-width: $device-sm) {
        .btn-footer { margin: 2rem 0; }
    }
}