.header {
    @include flex-config($align-items: center, $flex-direction: row, $justify-content: space-between);
    background-color: $clr-black;
    padding: 0.6875rem 6rem;
    transition: all .4s ease-in-out;
    
    .logo-scroll { display: none; }

    @media (min-width: $device-desktop) {
        .logo-static { display: block; }

        &.sticky {
            background-color: rgba($clr-white, 0.8);
            left: 0;
            padding: 0.5rem 1.875rem;
            position: fixed;
            top: 0;
            width: 100%;

            .logo-static { display: none; }

            .logo-scroll { display: block; }
        }
    }

    @media (max-width: $device-tablet) {
        padding: 0.6875rem 0.9375rem;
    }
}