.menu {
    &.main-menu {
        ul {
            @include flex-config($align-items: center, $flex-direction: column, $justify-content: space-between);
        }

        li {
            margin-top: 2rem;

            &:first-child { margin-top: 0; }

            a { 
                display: inline-block;
                font-size: $font-14;
                color: $clr-white; 
                position: relative;
                text-transform: uppercase;

                &::after {
                    @include pseudo($display: inline-block);
                    background-color: $clr-white;
                    bottom: -3px;
                    height: 2px;
                    left: 0;
                    transform: scaleX(0);
                    transform-origin: bottom right;
                    transition: transform 0.25s ease-out;
                    width: 100%;
                }

                &:hover {
                    &::after {
                        transform: scaleX(1);
                        transform-origin: bottom left;
                    }
                }
            }
        }
    }

    @media (min-width: $device-desktop) {
        &.main-menu {
            &.menu-sticky {
                li {
                    a { 
                        color: $clr-black; 
                        
                        &::after { background-color: $clr-black; }
                    }
                }
            }
        } 
    }

    @media (max-width: $device-tablet){
        &.main-menu {
            box-sizing: border-box;
            display: none;
            flex: 100%;
            height: 0;
            opacity: 0;
            overflow: hidden;
            padding: 0;
            transition: all .4s ease-in-out;
            width: 100%;

            &.open {
                animation: opacity .5s;
                background-color: $clr-black;
                display: block;
                height: auto;
                left: 0;
                opacity: 1;
                padding: 0 0 0.625rem;
                position: absolute;
                top: 100px;
                width: 100%;
            }

            .menu-wrapper {
                border-top: 1px solid $clr-white;
                flex-direction: column;
                padding: {
                    left: 0;
                    top: 0.625rem;
                }
                
                li {
                    margin-left: 0;
                    padding: 0.75rem 0;

                    a { text-align: center; }

                    &.hvr-underline-opacity {
                        a {  
                            width: 100%;

                            &::after { display: none; }
                        }
                    }

                    &.item-desktop { display: none; }
                }
            }
        }
    }
}
