.home {
    .home-section { padding-bottom: 4rem; }

    .video-section {  
        &.home-section { padding-bottom: 3.4375rem; }

        video { width: 100%; }

        .buttons-grid { padding-top: 3.125rem; }

        .content-wrapper {
            @include flex-config($align-items: center, $flex-direction: row, $flex-wrap: wrap, $justify-content: space-between);
        }

        .btn-rounded {
            background-image: linear-gradient(30deg, $clr-white 50%, transparent 50%);
            border: 1px solid $clr-black;
            border-radius: 22px;
            color: $clr-black;
            font-size: $font-18;
            padding: 0.625rem 1.5rem;
            text-transform: capitalize;
            transition: all .4s ease-in-out;
            
            &.orange {
                &:hover { 
                    border-color: $clr-orange;
                    color: $clr-orange; 
                }
            }

            &.purple {
                &:hover { 
                    border-color: $clr-purple;
                    color: $clr-purple; 
                }
            }

            &.blue {
                &:hover { 
                    border-color: $clr-blue;
                    color: $clr-blue; 
                }
            }

            &.green {
                &:hover { 
                    border-color: $clr-green;
                    color: $clr-green; 
                }
            }

            span {  
                @include box($width: 12px, $height: 12px);
                border-radius: 12px;
                display: inline-block;
                margin-left: 0.3125rem;
                transition: all .4s ease-in-out;
            }
        }
    }

    .projects-home {
        padding-bottom: 4rem;

        .bg-title {
            @include background($position: left ,$repeat: no-repeat, $size: contain);
            background-image: url(../img/img-title.png);
            color: transparent;
            height: 164px;
            margin: 0;
            width: 624px;

            span { display: none; }
        }

        .btn-wrapper {
            @include flex-config($align-items: center, $justify-content: flex-end);
            margin-top: 4rem;
        }

        .btn-projects-home { border: 1px solid $clr-black; }
    }

    .our-services-home {
        border-top: 1px solid $clr-black ;

        .table { padding-bottom: 4rem; }
    }

    @media (max-width: $device-desktop) {
        .video-section {
            .btn-rounded { padding: 0.625rem 0.5rem; }
        }
    }

    @media (max-width: $device-tablet) {
        .home-section { padding-bottom: 2rem; }

        .video-section {
            &.home-section { padding-bottom: 0; }

            .buttons-grid { display: none; }
        }

        .block-horizontal-home { padding: 0 0 1.875rem; }

        .projects-home { 
            padding-bottom: 2rem;

            .btn-wrapper { margin-top: 1.875rem; }
        }

        .our-services-home {
            .table { padding-bottom: 1.875rem; }
        }
    }

    @media (max-width: $device-sm) {
        .projects-home {
            .bg-title {
                height: 80px;
                width: 100%;
            }

            .btn-wrapper { justify-content: center; }
        }
    }
}